.entry {
  margin: 30px 0;
}

.title {
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  display: inline-block;
}

.entries-title {
  display: flex;
  align-items: center;
}

.entries-title label {
  margin-left: 30px;
  font-size: 1.5rem;
}

.entries-title select {
  font-size: 1.2rem;
  border: none;
  padding: 5px 0;
  text-decoration: underline;
}

.newButton {
  color: white;
  appearance: button;
  background: #562b81;
  padding: 10px 20px;
  border-radius: 3px;
}

.entry-title-container {
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 1.5em;
  color: #562b81;
}
