* {
  font-family: 'open sans', sans-serif;
}

header {
  background: #562b81;
}

h1,
h2,
label,
a {
  font-family: 'proza libre', sans-serif;
  margin: 20px 0;
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
}

input,
textarea {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.2rem;
}

input:focus,
textarea:focus {
  border: 2px solid #562b81;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top {
  color: white;
  align-items: center;
  gap: 20px;
}

.top h2 {
  padding: 20px 0;
  margin: 0;
  font-weight: normal;
}

.tab:hover {
  cursor: pointer;
}
